* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;

}

body {

    background:#fff;
    padding:2em;

}

header {
    border-bottom: #ff5252 3px solid;
    margin-bottom: 30px;

}


h1 {
    color:  #0F3057;
    font-family: 'Nunito';
    font-size: 72px;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: -1px;
    margin-bottom: 40px;
    text-align: center;
}

h1:after{
    color: #ff5252;
    display: block;
    content: '. . .';
    font-size: 26px;
    line-height: 24px;
    height: 24px;
    margin: 48px,auto;

}

h2 {
    color:  #0F3057;
    font-family: 'Nunito', sans-serif;
    font-size: 54px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -1px;
    margin-bottom: 40px;
    text-align: center;
}

footer p {
    color: #0F3057;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 36px;
    text-align: center;

}

main{
    position: relative;
}

#search-box{
    width: 100%;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 30px;
    padding:  .5em 1em .5em;    
    
}




.row {    
    display: flex;
    flex-wrap: wrap;
    padding: 0 .1em;    
    opacity: 1;
    transition: all .5s ease-in-out;
  }

  .details{
      position: absolute;
      visibility: hidden;
      transition: all .5s ease-in-out;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
     
  }

  .details h2 {
    color:  #0F3057;
    font-family: 'Nunito', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1px;  
    float: left;     
}

  

  .phone-details,.phone-images {    
        position: relative;
        float: left;
        width: 100%;
        padding: 10px;
        font-family: 'Nunito', sans-serif;
    }

  

.img-container {
    list-style-type: none;

}

.slide {
   
    display: inline-block;
    width: 15%;
   
}

.slide img {
   width: 100%
}


  
  /* Create two equal columns that sits next to each other */
  .col {
    flex: 25%;
    padding: 0 .1em;
  }

  
  .img-overlay {
    position: relative;  
    
    
  }

  .img-overlay img {
    margin-top: .2em;
    vertical-align: middle;    
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 2em 0 rgba(0,0,0,.25);
  }

  .img-snippet {
        position: absolute;
        transition: all .3s ease-in-out;
        background: rgba(0,0,0,0.6);
        color: #fff;
        border-radius: 5px;
        opacity: 0;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
  }

  .info {
    position: absolute;
    font-family: 'Nunito',sans-serif;
    color: #313943;
    cursor: pointer;
    bottom: 2.7em;
    right: 1em;
    text-align: center;
    border-radius: 5px;
    background-color:  #fff;
    padding: .5em;
    box-shadow: 0 0 2em 0 rgba(255,255,255,.9);
    

  }

  .text {
    position: absolute;
    font-family: 'Nunito', sans-serif;    
    bottom: 3em;
    left: 1em;
      
  }


  .img-snippet:hover {
    opacity: .8;
    
    
}

#back-to-top {
    position: fixed;
    bottom: 3em;
    right: 3em;
    background-color:  #ff5252;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    box-shadow: 0 0 2em 0 rgba(0,0,0,.25);
    transition: all .3s ease-in-out;
    display: inline-block;
    opacity: 0;
    text-decoration: none;
    font-size: .75em;
    font-family: 'Nunito', sans-serif;    
}

#back-to-top:hover,#back-to-list:hover {
    background-color: rgba(250, 28, 28, 0.767);
    padding: 1em 3em;
}

#back-to-top.visible {
    opacity: 1;
}

#back-to-list {
    position: absolute;
    top: 3em;
    right: 3em;
    background-color:  #ff5252;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    box-shadow: 0 0 2em 0 rgba(0,0,0,.25);
    transition: all .3s ease-in-out;
    display: inline-block;
    text-decoration: none;
    font-size: .75em;
    font-family: 'Nunito', sans-serif;    
}
